.movie-container{
    background-color: #333;
    color:#fff;
    padding-top:20px;
    padding-right:20px;
    padding-left:20px;
    position: relative;
    width:100%;
    height:100%;
    padding-left:200px;
    padding-right:200px;
}

.heading{
    font-size: 18px;
    user-select: none;
}
.movie-slider{
    grid-template-columns: repeat(19,300px);
    display:grid;
    gap:6px;
    transition:all 0.5s linear;
    user-select: none;
    overflow-y:hidden;
    overflow-x: auto;
    overflow: hidden;
    padding-top:28px;
    padding-bottom:48px;
    scroll-behavior: smooth;

}

.movie-item{
    padding-bottom:10px;
    cursor: pointer;
    transform: scale(1);
    max-width: 400px;
    max-height: 500px;
    width:100%;
    height:100%;
    user-select: none;
    border-radius: 20px;
    transform: center left;
    position: relative;
    transition: all 0.3s linear;
    opacity: 1;
    &:hover{
        opacity: 1;

    }

}
.movie-content{
    display:flex;
}
.flex{
display:flex;
}
.movie-img{
        transition: all 0.3s linear;

    max-width:360px;
    overflow: hidden;
    overflow-x: hidden;
    border-radius: 10px;

    &:hover{
          transform: translateY(-2%);      
         padding-top:0;
        opacity: 1;
    }
    width:100%;
    height:100%;
    object-fit: cover;
}
.movie-name{

    padding:4px;
    text-align: center;
    font-size: 14px;
    background-color: rgba(#333,0.6)
}
.left{
    font-size: 40px;
    cursor: pointer;

    z-index: 200;
    width:40px;
    align-items: center;
            transition: all 0.3s ease;
    &:hover{
        background-color: rgba(#333,0.8);
    }
    &:hover svg{
        opacity: 1;
        transform: scale(1.2);
    }
    svg{
        opacity: 0.7;
        transition: all 0.3s ease;
    }
    &.isNetflix{
        height:100px;
        width:max-content;
    }
    margin-right:10px;
    
}
.span{
    background-image: linear-gradient( to right,#333 ,#fff );;
    width:10px;
    height:60px;
    border-radius: 15px;
}
.right{
     &:hover{
        background-color: rgba(#333,0.8);
    }
       &:hover svg{
        opacity: 1;
        transform: scale(1.2);
    }
    svg{
        opacity: 0.7;
        transition: all 0.3s ease;
    }
    transition: all 0.3s ease;
    font-size: 40px;
    cursor: pointer;
    z-index: 200;
    width:40px;
    align-items: center;
    &.isNetflix{
        height:100px;
        width:max-content;
    }

}
.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.flexbtn{
    display:flex;
}
