
.wrap2{
        background: #74747463;
         transition-timing-function: ease-in;
    transition: all 0.5;

}
.icones{
    @media screen and (max-width:768px){
        font-size: smaller;
    }
        transition-timing-function: ease-in;
    // position: fixed;
    // left:0;
    // top:20%;
    // width:45px;
    padding:4px 0;
    z-index: 223232300;
    display:flex;
    flex-direction: row;
    transform-origin: left center;
    transition: all 0.5;
    overflow: hidden;
    color:#14A76C;
    // @media screen and (min-width:768px) and (max-width:1024px) {
    //     color:black;
    //     z-index: 2323232323232323232;
    //     position: fixed;
    //     display:flex;
    //     flex-direction: column;
    //     top:20%;
    //     left:0;
    //     background: #74747463;
        
        
    // }
    // @media screen and (max-width:767px) and (min-width:425px) {
    // color:black;
    //     z-index: 2323232323232323232;
    //     position: fixed;
    //     display:flex;
    //     flex-direction: column;
    //     top:20%;
    //     left:0;
    //     background: rgba(204, 204, 204, 0.5);
    // }
    // @media screen and (min-width:1025px) {
    //     display:none;
    // }
            color:black;
        z-index: 1;
        position: fixed;
        display:flex;
        flex-direction: column;
        top:20%;
        left:0;

}

.flex{
    display:flex;
    flex-direction: column;
}

.menu{
    color:#14A76C;
        border-bottom:1px solid transparent;
    flex-direction: row;
    display:flex;
    align-items: center;
    width:max-content;
    margin-left: 2px;
    padding:4px 6px;
    cursor: pointer;
    transition:all 0.2s ease-in-out;
     
    &:hover{

            transform: scale(1.1);
        
    }
    .icon{
        font-size: 30px;
        margin-right:15px;
        width:30px;
        cursor: pointer;
        user-select: none;
        transform: scale(1);
        transition: all 0.1s ease;

        &:hover ~ span{
            transform: scale(1.1);
            color:#fff;
        }
    }
    .icon-title{
        user-select: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        color:#fff;

    }
}
.icones{
    transition: all 0.5 linear;
    transition: all 0.5 ease;
        border-radius:20px ;
    margin-left:40px;
        transform: translateY(50%);

}
